/*
body{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.clear{
	clear:both;
	width:0;
	height:0;
}*/
.bm_hover_card{
	position:absolute;
	width:320px;
	z-index:999;
	min-height:100px;
/*	overflow:hidden;*/
}
.bm_hover_card .loading{
	width:32px;
	height:32px;
	border:0 none;
}
/*
.bm_hover_card a{
	color:#0777CB;
	text-decoration:none;
}
.bm_hover_card a:hover{
	text-decoration:underline;
}*/
.bm_hover_card_arrow{
	width:14px;
	height:12px;
	display:block;
	position:relative;
	top:6px;
	left:115px;
	z-index:998;
	background:url(bm_hover_card_arrow.gif) no-repeat;
}
.bm_hover_card_border{
	position:absolute;
	display:block;
	width:100%;
/*	min-height:183px;*/
	z-index:996;
/*	background-color:#DADADA;*/
	filter:alpha(opacity=80);
	-webkit-opacity:0.8;
	opacity:0.8;
	-moz-opacity:0.8;
}
.bm_hover_card_radius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-khtml-border-radius: 6px; 
}
.bm_hover_card_container{
	position:absolute;
	z-index:997;
	margin:5px;
/*	width:240px;*/
	width:100%;
/*	min-height:145px;*/
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
}
.bm_hover_card_before{
	margin-top:50px;
	text-align:center;
	font-size:12px;
}
.bm_hover_card_content{
	height:116px;
	padding:8px;
}
.bm_hover_card_avator{
	width:52px;
	height:52px;
	float:left;
}
.bm_hover_card_avator img{
	padding:1px;
	border:1px solid #CCCCCC;
}
.bm_hover_card_name{
	float:left;
	margin-left:12px;
	width:200px;
	font-size:14px;
	line-height:20px;
	height:20px;
}
.bm_hover_card_name img{
	vertical-align:middle;
	margin-left:5px;
}
.bm_hover_card_from{
	margin-left:12px;
	line-height:18px;
	font-size:12px;
	float:left;
	height:18px;
	width:200px;
	color:#999;
}
.bm_hover_card_from span+span{
	margin-left:8px;
}
.bm_hover_card_signaure{
	margin-left:12px;
	line-height:18px;
	font-size:12px;
	float:left;
	height:18px;
	width:200px;
	overflow:hidden;
	color:#999;
}
.bm_hover_card_info{
	margin-top:10px;
}
.bm_hover_card_info p{
	overflow:hidden;
	font-size:12px;
}
.bm_hover_card_info p a,.bm_hover_card_info p span{
	float:left;
	width:50px;
	text-align:center;
	line-height:16px;
	height:16px;
}
.bm_hover_card_bar{
	height:36px;
	line-height:36px;
	margin:1px;
	background-color:#EEE;
}
.bm_hover_card_bar a{
	float:right;
	margin-top:8px;
	margin-right:20px;
}
.add_follow,.had_follow,.btn_self,.btn_loading{
	width:66px;
	font-size:12px;
	height:26px;
	display:inline-block;
	outline:none;
}
.had_follow{
	background:url(af_btn.png) -424px -96px;
}
.had_follow:hover
{
    background:url(af_btn.png) -423px -48px;
}
.add_follow{
	background:url(af_btn.png) 0px -48px;
}
.add_follow:hover{
	background:url(af_btn.png) -110px -48px;
}
.btn_self{
	background:url(af_btn.png) -321px 0px;
}
.btn_loading{
	background:url(af_btn.png) -320px -50px;
}